body {
  padding: 0%;
  margin: 0%;
  background: rgb(0, 0, 0);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-image: radial-gradient(
    circle at 85.02% -10.66%,
    #4c5d61 0,
    #465355 16.67%,
    #3f4545 33.33%,
    #363434 50%,
    #2c2424 66.67%,
    #241719 83.33%,
    #1f0d12 100%
  );
}

.img-promo {
  width: 100%;
  height: 70%;
  z-index: 99;
}
.slider-button-mobile {
  width: 100%;
  height: min-content;
  z-index: 99;
  background-color: black;
  color: #ddd;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Organiza los elementos en una columna */
}
.logo-mobile {
  margin-bottom: 20px;
  width: 170px;
  height: 170px;
  padding: 0%;
}

.logo-mobile-menu {
  margin-bottom: 20px;
  position: relative;
  top: 10px;
  left: 180px;
  width: 170px;
  height: 170px;
  padding: 0%;
  z-index: -10;
  opacity: 0.4;
}
/* nav.css */

/* Botón para abrir el menú en móviles */
.menu-toggle {
  margin-bottom: 20px;
  display: none; /* Oculto por defecto */
  position: fixed;
  top: 10px;
  left: 0px;
  width: 100%;
  height: 40px;
  background-color: chocolate;
  color: white;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 999;
  border-radius: 0 5px 5px 0; /* Botón redondeado */
  font-size: 1.2rem; /* Tamaño del texto */
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra para mayor visibilidad */
}

/* Botón de cierre dentro del menú móvil */
.menu-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px; /* Ancho fijo del botón */
  height: 50px; /* Alto fijo del botón */
  background-color: #333;
  color: white;
  border: none;
  padding: 0; /* Elimina el padding para ajustar el tamaño */
  cursor: pointer;
  border-radius: 50%; /* Botón redondeado */
  font-size: 1.2rem; /* Tamaño del texto */
  display: flex; /* Flexbox para centrar el ícono */
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra para mayor visibilidad */
}

/* Estilos para el menú móvil */
.mobile-navigation {
  display: none; /* Oculto por defecto */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%); /* Oculto fuera de la pantalla */
}

.mobile-navigation.open {
  display: block; /* Mostrar cuando está abierto */
  transform: translateX(0); /* Mover a la vista */
}

.logo img {
  display: block;
  margin: 0 auto;
}

/* Menú de navegación móvil */
.mobile-nav-menu {
  list-style: none;
  padding: 0;
  margin: 60px 0 0;
}

.mobile-nav-menu li {
  border-bottom: 1px solid #ddd;
}

.mobile-nav-menu li a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  color: black;
}

.mobile-nav-menu li a:hover {
  background-color: #f0f0f0;
}

.mobile-actions {
  margin-top: auto;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ruletaHeader {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  border: none;
  width: 100%;
  top: 50px;
  position: relative;
  text-align: center;
}
.ruletaHeader-item {
  width: 100%;
  padding: 10px 50px;
  margin: 0 5px;
  border: none;
  border-radius: 10px;
}

@keyframes bannerImg {
  0% {
    background-image: url("./static/images/banner/ecomm.gif");
  }
  20% {
    background-image: url("./static/images/banner/b2b.jpg");
  }
  40% {
    background-image: url("./static/images/banner/ecommrob.jpg");
  }
  60% {
    background-image: url("./static/images/banner/refriw.jpg");
  }
  80% {
    background-image: url("./static/images/banner/ecomw.jpg");
  }
  100% {
    background-image: url("./static/images/banner/ecomw4.jpg");
  }
}
.banner-img {
  animation: bannerImg 15s infinite;
  background-size: cover;
  background-size: contain;
  background-position: center;
  background-repeat: none;
  background-size: 127% 100%;
}
.banner-img::before {
  transition: opacity 3s ease-in-out;
}

.float{
  position: fixed;
}
.tp32{
  top: 230px;
}
.rg2{
  right: 0%;
}
/* Mostrar el botón en móviles */
@media (max-width: 1200px) {
  .SingUp{
    position: relative;
    top:300px;
  }
  .menu-toggle {
    display: block; /* Mostrar el botón en pantallas móviles */
    position: absolute;
    top: 170px;
    color: white;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  .logo {
    position: absolute;
    top: 100px;
    left: 10px;
  }
}
@media (max-width:1007px) {
  .navigation{display: block;}
  .singUp-form{width: 75%;}
}