body {
  padding: 0%;
  margin: 0%;
  background: rgb(0, 0, 0);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-image: radial-gradient(
    circle at 85.02% -10.66%,
    #4c5d61 0,
    #465355 16.67%,
    #3f4545 33.33%,
    #363434 50%,
    #2c2424 66.67%,
    #241719 83.33%,
    #1f0d12 100%
  );
}

.img-promo {
  width: 100%;
  height: 70%;
  z-index: 99;
}
.slider-button-mobile {
  width: 100%;
  height: min-content;
  z-index: 99;
  background-color: black;
  color: #ddd;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Organiza los elementos en una columna */
}
.header-banner-mobile {
  display: none;
}
.logo-mobile {
  margin-bottom: 20px;
  width: 170px;
  height: 170px;
  padding: 0%;
}

.logo-mobile-menu {
  margin-bottom: 20px;
  position: relative;
  top: 10px;
  left: 180px;
  width: 170px;
  height: 170px;
  padding: 0%;
  z-index: -10;
  opacity: 0.4;
}
/* nav.css */

/* Botón para abrir el menú en móviles */
.menu-toggle {
  margin-bottom: 20px;
  display: none; /* Oculto por defecto */
  position: fixed;
  top: 10px;
  left: 0px;
  width: 100%;
  height: 40px;
  background-color: rgb(32, 28, 25);
  color: white;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 999;
  border-radius: 0 5px 5px 0; /* Botón redondeado */
  font-size: 1.2rem; /* Tamaño del texto */
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra para mayor visibilidad */
}

/* Botón de cierre dentro del menú móvil */
.menu-close {
  position: absolute;
  font-size: 20px;
  top: 50px;
  right: 10px;
  width: 50px; /* Ancho fijo del botón */
  height: 50px; /* Alto fijo del botón */
  background-color: #333;
  color: white;
  border: none;
  padding: 0; /* Elimina el padding para ajustar el tamaño */
  cursor: pointer;
  border-radius: 50%; 
  display: flex; 
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

/* Estilos para el menú móvil */
.mobile-navigation {
  display: none; /* Oculto por defecto */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%); /* Oculto fuera de la pantalla */
}

.mobile-navigation.open {
  display: block; /* Mostrar cuando está abierto */
  transform: translateX(0); /* Mover a la vista */
}

.logo img {
  display: block;
  margin: 0 auto;
}

/* Menú de navegación móvil */
.mobile-nav-menu {
  list-style: none;
  padding: 0;
  margin: 60px 0 0;
}

.mobile-nav-menu li {
  border-bottom: 1px solid #ddd;
}

.mobile-nav-menu li a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  color: black;
}

.mobile-nav-menu li a:hover {
  background-color: #f0f0f0;
}

.mobile-actions {
  margin-top: auto;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ruletaHeader {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  border: none;
  width: 100%;
  top: 50px;
  position: relative;
  text-align: center;
}
.ruletaHeader-item {
  width: 100%;
  padding: 10px 10px;
  margin: 0 5px;
  border: none;
  border-radius: 10px;
}
@keyframes bannerImg {
  0% {
    background-image: url("./static/images/banner/ecomm.gif");
  }
  20% {
    background-image: url("./static/images/banner/b2b.jpg");
  }
  40% {
    background-image: url("./static/images/banner/ecommrob.jpg");
  }
  60% {
    background-image: url("./static/images/banner/refriw.jpg");
  }
  80% {
    background-image: url("./static/images/banner/ecomw.jpg");
  }
  100% {
    background-image: url("./static/images/banner/ecomw4.jpg");
  }
}
.banner-img {
  height: 60vh;
  animation: bannerImg 15s infinite;
  background-size: cover;
  background-size: contain;
  background-position: center;
  background-repeat: none;
  background-size: 127% 100%;
}
.banner-img::before {
  transition: opacity 3s ease-in-out;
}
.banner-desc {
  height: 100%;
}
.float {
  position: fixed;
}
.tp32 {
  top: 230px;
}
.rg2 {
  right: 0%;
}
.ProductShowcaseGrid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  padding: 10px;
}
.ProductShowcaseGrid-item {
  background-color: #4caf50;
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.content-user{

  position: relative;
  top:125px;
}

/* Mostrar el botón en móviles */
@media (max-width: 1200px) {
  .SingUp {
    position: relative;
    top: 150px;
  }
  .menu-toggle {
    display: block; /* Mostrar el botón en pantallas móviles */
    position: relative;
    color: white;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  #marketplacelinknav {
    display: none;
  }
  .navigationmenu-link {
    display: block;
    margin: 7px;
  }
  .content {
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
  .home {
    position: relative;
    top: 10px;
  }
}
@media (max-width: 1007px) {
  .home {
    position: relative;
    top: 200px;
  }
  .SingUp {
    top: 300px;
  }
  .navigation {
    display: block;
  }
  .singUp-form {
    width: 75%;
  }
  .content-user{
    top: 300px;
  }
}
@media (max-width: 850px) {
  body {
    background: coral;
  }
  .promMenu{
    width: 100%;
    height: 120px;
    background-color: #4caf50;
  }
  .home {
    position: relative;
    background-color: #eee;
    top: 20px;
  }
  .ruletaHeader {
    display: none;
  }
  .logo-mobile {
    position: absolute;
    z-index: 9999;
    right: 5px;
    top: -150px;
    height: 50px;
    width: 50px;
  }

  @keyframes navlogo {
    0% {
      background-color: #1f0d12;
      color: #eee;
      content: 'COMPRA Y OBTEN PUNTOS';
      background-image: url("./static/images/banner/bbe868e9-05ef-470f-ba3a-66cc22265202.gif");
    }
    25% {
      background-image: url("./static/images/banner/bbe868e9-05ef-470f-ba3a-66cc22265202.gif");
    }
    50% {
      background-image: url("https://exitocol.vtexassets.com/assets/vtex.file-manager-graphql/images/c60fbdad-f9e2-4093-a67c-65acc711facf___f2cb5212469e6c4dac06ff5caec17247.jpg");
    }
    75% {
      background-image: url("https://exitocol.vtexassets.com/assets/vtex.file-manager-graphql/images/273c7836-4207-4bb1-b035-ab2e3ef22fbb___6096967431d0d6c32f8fdb776d4570b1.png");
    }
    100% {
      background-image: url("./static/images/banner/co-50009109-88f9f3065be0c345e2339e41b8f3b8d0_xxhdpi.png");
    }
  }

  .header-banner-mobile {
    display: block;
    width: 100%;
    height: 150px;
    animation: navlogo 20s infinite;
    background-size: cover;
    background-position: center;
    background-repeat: none;
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
  }
  .header-banner-mobile::before {
    transition: opacity 100s ease-in-out;
  }
  .banner {
    display: none;
  }
  .menu-toggle{top: 0px;}
  .content-user{top:65px}
}
@media (max-width: 830px) {
}
